{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- Page Heading -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>


<div class="row">
    <div class="col-md-12">
      <h1>Tugas akhir</h1>
      <h5 class="ml-2">Analisis Sentiment</h5>
      <ul>
        <li>Andi Nur Utari Aminuddin</li>
        <li>1184039</li>
        <li>D4 Teknik Informatika</li>
      </ul>
    </div>
</div>
<hr class="sidebar-divider d-none d-md-block">
<h3 class="text-center">Wordlcloud</h3>
<hr class="sidebar-divider d-none d-md-block">
<div class="row">
  <div class="col-xl-4 col-lg-4 text-center">
    <h5>Positive Word</h5>
    <img src="/static/img/WRDCLD_Positive.png" class="img-fluid rounded" alt="Positive Word">
  </div>
  <div class="col-xl-4 col-lg-4 text-center">
    <h5>Neutral Word</h5>
    <img src="/static/img/WRDCLD_Neutral.png" class="img-fluid rounded" alt="Neutral Word">
  </div>
  <div class="col-xl-4 col-lg-4 text-center">
    <h5>Negative Word</h5>
    <img src="/static/img/WRDCLD_Negative.png" class="img-fluid rounded" alt="Negative Word">
  </div>
</div>

<hr class="sidebar-divider d-none d-md-block">
<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Teks Sentiment yang telah di prediksi</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Tweet</th>
                <th>Sentiment</th>
              </tr>
            </thead>
            <tbody>
              {% for row in data%}
              <tr>
                <td>{{ row.tweet }}</td>
                {% if row.label=='1' %}
                <td>Positive</td>
                {% elif row.label=='-1' %}
                <td>Negative</td>
                {% elif row.label=='0' %}
                <td>Neutral</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}